.logincomponent{
    height: 100vh;
    background-color: #f0f2f6;
}
.container{
height: 100vh;
}
.brand{
    padding: 1rem;
}
.logincomponent h1{
    font-size: 50px;
    font-weight: 600;
}
.logincomponent p{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}