.rightbar{
    flex: 3;
}
.birthday-image{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.birthday-notification{
    padding: 10px 10px 10px 0;
}
.online-friends-title{
    padding-left: 10px;
}